@inherits LayoutComponentBase
<RadzenComponents />

<PageTitle>Đăng nhập</PageTitle>
<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

